{% extends 'login/login_base.html' %}

{% block content %}

    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Login</h1>
            </div>

            <form method="POST" action="" class="login-form">
              {% csrf_token %}
                <div class="control-group">
                <input type="text" name="username" placeholder="Username..." class="form-control" value="{{ c_username }}">
                </div>

                <div class="control-group">
                <input type="password" name="password" placeholder="Password..." class="form-control" value="{{ c_password }}">
                </div>

                <div class="control-group">
                    <input type="checkbox" name="remember_me" id="remember_me" value="Remember me">
                    <label for="remember_me">Remember me</label><br>
                </div>

                <input class="btn login_btn" type="submit" value="Login">

            </form>
            {% for message in messages %}
                    <p id="messages">{{message}}</p>
            {% endfor %}

            <div class="pt-8">
                <div class="d-flex justify-content-center links pt-5">
                    Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
                </div>

            </div>
        </div>
    </div>

  

{% endblock content %}
